{% extends "indianbankapp/base.html" %}

{% block content %}
    <div style="color: #070707; font-family: 'Oxygen', sans-serif; margin-left: 200px;">
        <b><h1>Welcome to Indian Bank Finder </h1></b>
        <p style="margin-right: 250px;text-align: center">*You can search by City as well as IFSC code</p>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active " data-toggle="tab" href="#branches_tab">City</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#ifsc_tab">IFSC</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active " id="branches_tab"><br>

            <div class="row">
                <div class="col-md-6">
                    <label for="bank_name">Enter Bank name :</label>
                    <input type="text" class="form-control" id="bank_name">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label for="city">Enter City :</label>
                    <input type="text" class="form-control" id="city">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-outline-primary" id="get_branches_by_city">Find</button>
                </div>
            </div>

            <br><br>

            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group" id="branches_list">
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-pane container fade" id="ifsc_tab"><br>

            <div class="row">
                <div class="col-md-6">
                    <label for="ifsc_code_inp">Enter IFSC code :</label>
                    <input type="text" class="form-control" id="ifsc_code_form_input">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-outline-primary" id="get_branch_by_ifsc">Find</button>
                </div>
            </div>

            <br><br>

            <div class="row">
                <div class="col-md-12">
                    <div class="card" id="response_card">
                        <div class="card-body">
                            <h4 class="card-title" id="data_title"> </h4>
                            <p class="card-text" id="data_detail">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}